body{
    width: 95%;
    margin: 0 auto;
    font-family: Arial, helvetica, sans-serif;
}
header{
    position: relative;
    height: 200px;
    background-image: url("../images/bgsky3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    color: darkblue;
}
header h1{
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
}
header h2{
    font-size: 2.4em;
    font-weight: bold;
}
header img{
    position: absolute;
    float: right;
    right: 90px;
    bottom: 60px;
}
aside{
    width: 25%;
    float: right;
    background-color: #dddddd;
    border: 1px solid #999999;
    box-sizing: border-box;
    color: #666666;
    font-size: 0.9em;
    padding: 10px ;
}
aside h3{
    color: white;
    background-color: blue;
    font-size: 1.2em;
    text-align: center;
}
main{
    width: 75%;
    padding-right: 10px;
}
#logo{
    float: left;
    padding: 20px;
}
article{
    text-align: justify;
    margin: 20px 20px 20px 0;
}
article p{
    margin: 0px;
}
article span
{
    color: blue;
    font-weight: bold;
    font-style: italic;
}
#gallery{
    background-color: #999999;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#gallery img
{
    height: 180px;
    width: 180px;
    border: 1px dotted #999999;
    margin: 20px;
}
footer{
    background-color: #666666;
    color: white;
    font-size: 2em;
}