main
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
body
{
    background-color: lightpink;
}
div
{
    background-color: white;
    margin: 5px;
    padding: 3px;
    width: 250px;
}
div a
{
    color: lightpink;
    text-decoration: none;
}
div ul
{
    list-style-type: none;
    text-align: left;
}
h1, h3
{
    text-align: center;
}
.sem2{
    width:100%;
}
