input{
    width: 100%;
}
#knop{
    width: 100%;
    background-color: limegreen;
    border-width: 0px;
    color: white;
}
.youtube{
    background-color: #ff0000;
    color: white;
}
.youtube button {
    background-color: #282828;
    border: none;
}
.google{
    background-color:#4285f4;
    color: white;
}
.google button{
    background-color: #ea4335;
}
.twitter{
    background-color: #1da1f2;
}
.twitter button{
    background-color: #e1e8ed;
    color: black;
}
.instagram{
    background-color: #c32aa3;
}
.instagram button{
    background-color: #4c5fd7;
}